.battle-field,
.interface {
    overflow-y: auto;
}

.monster :hover,
.hero :hover {
    cursor: pointer;
}

.selected {
    background: rgba(94, 255, 0, 0.5);
}

.not-selected {
    background: red;
}

.attack-message {
    font-size: 5vh;
}

.main-app {
    height: 100vh;
    display: grid;
}

.app-header-container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header {
    font-weight: bold;
}

.battle-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-direction: row;
    justify-content: space-between; */
    height: 60vh;
    width: 100vw;
}

.control-interface {
    height: 40vh;
}
.hero-container {
    display: grid;
    justify-items: center;
    align-items: center;
}

.monster-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 50vw;
}

#userDisplay {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 30vh;
    border: 2px black solid;
}

#commands {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    border: 2px black solid;

}

#commands button {
    height: fit-content;
    width: fit-content;
}

#combatLogContainer {
    display: grid;
    width: 100%;
    border: 2px black solid;

}

#combatLogHeader {
    height: 5vh;
    justify-self: center;
}

#combatLog {
    overflow: scroll;
    border: 2px black solid;
    height: 20vh;
}