/* 
div {
    border: 1px solid black;
} */

.battle-field,
.interface {
    overflow-y: auto;
}

.monster :hover,
.hero :hover {
    cursor: pointer;
}

.selected {
    background: rgba(94, 255, 0, 0.5);
}

.not-selected {
    background: red;
}