.container {
    width: fit-content;
}
.heroImg {
    width: 15vw;
    max-width: 15vh;
}

.maxHealthbar{
    width: 100%;
    height: 10px;
    background-color: red;
}

.currentHp {
    background-color: green;
    height: 100%;
    padding: 0;
    margin: 0;
}